makyol-automation/n8n_clasificare_documente.json
{
  "name": "Clasificare Documente PDF - Makyol",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "path": "={{ $json.input_folder || '/data/input' }}",
        "options": {}
      },
      "id": "read-folder",
      "name": "1. Citeste Folder Input",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [220, 300],
      "notes": "Citeste toate fisierele PDF din folderul de input"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// NIVEL 1: Clasificare din filename (regex)\n// ============================================\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const filename = item.json.fileName || item.json.name || '';\n  const fname = filename.toLowerCase();\n  \n  let category = null;\n  let confidence = 0;\n  let method = 'filename';\n  \n  // Regula speciala: \"sanitar\" = AVIZ_SANITAR (100% unic)\n  if (/sanitar/i.test(fname)) {\n    category = 'AVIZ_SANITAR';\n    confidence = 0.99;\n  }\n  // Aviz Tehnic + Agrement (ambele prezente)\n  else if (/aviz.*agrement|agrement.*aviz|avt.*agt|agt.*avt/i.test(fname)) {\n    category = 'AVIZ_TEHNIC_SI_AGREMENT';\n    confidence = 0.95;\n  }\n  // ISO certificates\n  else if (/iso\\s*(?:9001|14001|45001|50001)/i.test(fname)) {\n    category = 'ISO';\n    confidence = 0.99;\n  }\n  // Agrement tehnic\n  else if (/\\bagt\\b|agrement/i.test(fname) && !/aviz/i.test(fname)) {\n    category = 'AGREMENT';\n    confidence = 0.95;\n  }\n  // Aviz tehnic (fara sanitar, fara agrement)\n  else if (/\\bavt\\b|aviz\\s*tehnic/i.test(fname) && !/sanitar/i.test(fname) && !/agrement/i.test(fname)) {\n    category = 'AVIZ_TEHNIC';\n    confidence = 0.95;\n  }\n  // Fisa tehnica\n  else if (/\\bft\\b|fi[sș][aă]\\s*tehnic/i.test(fname)) {\n    category = 'FISA_TEHNICA';\n    confidence = 0.95;\n  }\n  // Declaratie conformitate\n  else if (/\\bdc\\b(?!\\s*-)|declara[tț]i[ea]\\s*(?:de\\s*)?conformitate/i.test(fname)) {\n    category = 'DECLARATIE_CONFORMITATE';\n    confidence = 0.90;\n  }\n  // Declaratie performanta\n  else if (/\\bdop\\b|declara[tț]i[ea]\\s*(?:de\\s*)?performan/i.test(fname)) {\n    category = 'DECLARATIE_PERFORMANTA';\n    confidence = 0.95;\n  }\n  // CE\n  else if (/\\bce\\b/i.test(fname) && !/certificat|cert\\b/i.test(fname)) {\n    category = 'CE';\n    confidence = 0.85;\n  }\n  // CUI\n  else if (/\\bcui\\b/i.test(fname)) {\n    category = 'CUI';\n    confidence = 0.95;\n  }\n  // Certificat calitate\n  else if (/\\bcc\\b|certificat.*calitate/i.test(fname)) {\n    category = 'CERTIFICAT_CALITATE';\n    confidence = 0.90;\n  }\n  // Certificat garantie\n  else if (/\\bcg\\b|certificat.*garan[tț]/i.test(fname)) {\n    category = 'CERTIFICAT_GARANTIE';\n    confidence = 0.95;\n  }\n  // Autorizatie distributie\n  else if (/autoriz|authorization/i.test(fname)) {\n    category = 'AUTORIZATIE_DISTRIBUTIE';\n    confidence = 0.90;\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      filename: filename,\n      category_level1: category,\n      confidence_level1: confidence,\n      method: method,\n      needs_ai: category === null || confidence < 0.85\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "classify-filename",
      "name": "2. Clasificare Filename (Regex)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "notes": "Nivel 1: Clasificare rapida din filename folosind regex patterns"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "needs-ai-check",
              "leftValue": "={{ $json.needs_ai }}",
              "rightValue": "true",
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-needs-ai",
      "name": "3. Necesita AI?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300],
      "notes": "Daca filename-ul nu a dat un rezultat clar (confidence < 85%), trimitem la AI"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Pregatire pentru AI: extrage text din PDF\n// ============================================\n// Nota: In n8n, extragerea de text din PDF se face\n// fie cu Extract from File node, fie cu un Code node\n// care foloseste o librarie PDF.\n//\n// Aceasta este o versiune simplificata.\n// In productie, foloseste 'Extract from File' node\n// sau un HTTP Request catre un serviciu OCR.\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  results.push({\n    json: {\n      ...item.json,\n      // Textul extras va fi populat de nodul anterior\n      // sau de un serviciu OCR extern\n      extracted_text: item.json.extracted_text || '',\n      ai_prompt: `Clasifica urmatorul document PDF.\\n\\nFilename: ${item.json.filename}\\nNumar pagini: ${item.json.page_count || 'necunoscut'}\\nText extras (primele 2000 caractere):\\n${(item.json.extracted_text || 'Nu s-a putut extrage text - document scanat').substring(0, 2000)}`\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "prepare-ai",
      "name": "4a. Pregatire Text pentru AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 200],
      "notes": "Pregateste textul extras din PDF pentru a fi trimis la AI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "HTTP-Referer", "value": "https://makyol-automation.com" },
            { "name": "X-Title", "value": "Makyol Document Classifier" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a document classification system for Romanian construction industry documents. You receive a PDF document's metadata and extracted text, and you must classify it into exactly ONE of 14 categories.\\n\\n## CATEGORIES\\n\\n1. AGREMENT - Technical approval from Romanian Ministry. Key: 'Agrement Tehnic', Ministerul Dezvoltarii. 10-20 pages. Filename: AGT, Agrement.\\n2. AUTORIZATIE_DISTRIBUTIE - Authorization letter from manufacturer to distributor. Key: 'autorizam pe... sa distribuie'. 1-2 pages letter format. Filename: AUTORIZATIE, Authorization.\\n3. AVIZ_TEHNIC_SI_AGREMENT - Combined Technical Notice + Approval. Key: BOTH 'Aviz Tehnic' AND 'Agrement' present. 13-16 pages.\\n4. AVIZ_TEHNIC - Technical notice only (no 'sanitar', no 'agrement'). Key: 'Aviz Tehnic'. 1-2 pages. Filename: AVT.\\n5. AVIZ_SANITAR - Sanitary approval. Key: word 'sanitar' ANYWHERE = this category, no exceptions. Filename: AVS.\\n6. CE - CE marking declaration/certificate. Key: 'CE', EU Directives, multilingual. 2-4 pages.\\n7. CERTIFICAT_CALITATE - Quality test certificate with results. Key: 'CERTIFICAT DE CALITATE', test results table. 1 page. Filename: CC.\\n8. CERTIFICAT_GARANTIE - Warranty certificate. Key: 'CERTIFICAT DE GARANTIE', warranty periods. 2 pages. Filename: CG.\\n9. CUI - Company registration certificate. Key: 'Cod Unic de Identificare'. Government doc. 1-2 pages. Filename: CUI.\\n10. DECLARATIE_CONFORMITATE - Declaration of Conformity. Key: 'DECLARATIE DE CONFORMITATE', 'HG 668/2017'. 1-2 pages. Filename: DC.\\n11. DECLARATIE_PERFORMANTA - Declaration of Performance. Key: 'DECLARATIE DE PERFORMANTA', EU Reg 305/2011, performance values. Filename: DOP, DP.\\n12. FISA_TEHNICA - Technical data sheet. Key: 'FISA TEHNICA', extensive tables with DN/PN/SDR. 3-16 pages (long). Filename: FT.\\n13. ISO - ISO certificate (9001/14001/45001/50001). Key: 'ISO 9001' etc. 1-4 pages. Filename: ISO.\\n14. ALTELE - Catch-all. ONLY when nothing else matches.\\n\\n## RULES\\n1. If 'sanitar' in text/filename -> AVIZ_SANITAR always.\\n2. If BOTH 'Aviz Tehnic' AND 'Agrement' -> AVIZ_TEHNIC_SI_AGREMENT.\\n3. Pages >8 -> likely AGREMENT, AVIZ_TEHNIC_SI_AGREMENT, or FISA_TEHNICA.\\n4. Prefer specific category over ALTELE.\\n\\nRespond with ONLY valid JSON:\\n{\\\"category\\\": \\\"NAME\\\", \\\"confidence\\\": 0.95, \\\"reasoning\\\": \\\"brief explanation\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.ai_prompt }}\"\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 200\n}"
      },
      "id": "ai-classify",
      "name": "5a. AI Clasificare (OpenRouter)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 200],
      "notes": "Trimite textul la AI prin OpenRouter pentru clasificare",
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Parseaza raspunsul AI si extrage categoria\n// ============================================\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  let category = 'ALTELE';\n  let confidence = 0;\n  let reasoning = '';\n  \n  try {\n    const aiResponse = item.json.choices?.[0]?.message?.content || '';\n    // Parse JSON from AI response\n    const jsonMatch = aiResponse.match(/\\{[^}]+\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      category = parsed.category || 'ALTELE';\n      confidence = parsed.confidence || 0;\n      reasoning = parsed.reasoning || '';\n    }\n  } catch (e) {\n    reasoning = 'AI parse error: ' + e.message;\n  }\n  \n  // Validare: categoria trebuie sa fie una din cele 14\n  const validCategories = [\n    'AGREMENT', 'AUTORIZATIE_DISTRIBUTIE', 'AVIZ_TEHNIC_SI_AGREMENT',\n    'AVIZ_TEHNIC', 'AVIZ_SANITAR', 'CE', 'CERTIFICAT_CALITATE',\n    'CERTIFICAT_GARANTIE', 'CUI', 'DECLARATIE_CONFORMITATE',\n    'DECLARATIE_PERFORMANTA', 'FISA_TEHNICA', 'ISO', 'ALTELE'\n  ];\n  \n  if (!validCategories.includes(category)) {\n    category = 'ALTELE';\n    confidence = 0.3;\n  }\n  \n  results.push({\n    json: {\n      filename: item.json.filename || $('4a. Pregatire Text pentru AI').item.json.filename,\n      filePath: item.json.filePath || $('4a. Pregatire Text pentru AI').item.json.filePath,\n      category: category,\n      confidence: confidence,\n      reasoning: reasoning,\n      method: 'ai_classification'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "parse-ai",
      "name": "6a. Parseaza Raspuns AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 200],
      "notes": "Extrage categoria din raspunsul AI"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Formatare rezultate din clasificarea filename\n// (pentru documentele care NU au nevoie de AI)\n// ============================================\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  results.push({\n    json: {\n      filename: item.json.filename,\n      filePath: item.json.filePath,\n      category: item.json.category_level1,\n      confidence: item.json.confidence_level1,\n      reasoning: 'Classified by filename pattern',\n      method: 'filename_regex'\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "format-filename",
      "name": "4b. Rezultat Filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 420],
      "notes": "Formateaza rezultatele clasificate doar din filename"
    },
    {
      "parameters": {},
      "id": "merge-results",
      "name": "7. Merge Rezultate",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1660, 300],
      "notes": "Combina rezultatele din ambele cai (filename + AI)"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// FOLDER MAPPING: categoria -> subfolder name\n// ============================================\n\nconst FOLDER_MAP = {\n  'AGREMENT': 'Agrement',\n  'AUTORIZATIE_DISTRIBUTIE': 'Autorizatii de comercializare sau de distributie',\n  'AVIZ_TEHNIC_SI_AGREMENT': 'Aviz Tehnic + Agrement',\n  'AVIZ_TEHNIC': 'Aviz tehnic',\n  'AVIZ_SANITAR': 'Avize Sanitare',\n  'CE': 'CE',\n  'CERTIFICAT_CALITATE': 'Certificat Calitate',\n  'CERTIFICAT_GARANTIE': 'Certificat Garantie',\n  'CUI': 'Cui',\n  'DECLARATIE_CONFORMITATE': 'Declaratii conformitate',\n  'DECLARATIE_PERFORMANTA': 'Declaratie de Performanta',\n  'FISA_TEHNICA': 'Fisa Tehnica',\n  'ISO': 'Iso',\n  'ALTELE': 'Z.Altele'\n};\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const category = item.json.category || 'ALTELE';\n  const targetFolder = FOLDER_MAP[category] || 'Z.Altele';\n  const outputBase = $('Manual Trigger').item.json.output_folder || '/data/output';\n  \n  results.push({\n    json: {\n      ...item.json,\n      target_folder: targetFolder,\n      target_path: `${outputBase}/${targetFolder}/${item.json.filename}`\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "map-folders",
      "name": "8. Mapeaza Foldere Destinatie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1900, 300],
      "notes": "Mapeaza fiecare categorie la folderul de destinatie"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Muta fisierele in folderele corecte\n// ============================================\n// Nota: In productie, inlocuieste cu 'Move File' node\n// sau cu comenzi shell specifice.\n\nconst { execSync } = require('child_process');\nconst items = $input.all();\nconst results = [];\nconst outputBase = items[0]?.json?.target_path?.split('/').slice(0, -2).join('/') || '/data/output';\n\n// Creeaza folderele daca nu exista\nconst folders = [...new Set(items.map(i => i.json.target_folder))];\nfor (const folder of folders) {\n  try {\n    execSync(`mkdir -p \"${outputBase}/${folder}\"`);\n  } catch (e) {}\n}\n\nfor (const item of items) {\n  const src = item.json.filePath;\n  const dst = item.json.target_path;\n  let moved = false;\n  \n  if (src && dst) {\n    try {\n      execSync(`cp \"${src}\" \"${dst}\"`);\n      moved = true;\n    } catch (e) {\n      // File move failed\n    }\n  }\n  \n  results.push({\n    json: {\n      ...item.json,\n      moved: moved\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "move-files",
      "name": "9. Muta Fisiere in Foldere",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 200],
      "notes": "Copiaza fisierele in folderele de categorie"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Genereaza raport Excel (CSV format)\n// ============================================\n\nconst items = $input.all();\n\n// Header\nlet csv = 'Nr.,Filename,Categorie,Confidence,Metoda,Folder Destinatie,Reasoning\\n';\n\n// Sort by category\nconst sorted = [...items].sort((a, b) => \n  (a.json.category || '').localeCompare(b.json.category || '')\n);\n\nfor (let i = 0; i < sorted.length; i++) {\n  const item = sorted[i].json;\n  const row = [\n    i + 1,\n    `\"${(item.filename || '').replace(/\"/g, '\"\"')}\"`,\n    item.category || 'ALTELE',\n    (item.confidence || 0).toFixed(2),\n    item.method || 'unknown',\n    `\"${item.target_folder || ''}\"`,\n    `\"${(item.reasoning || '').replace(/\"/g, '\"\"')}\"`\n  ].join(',');\n  csv += row + '\\n';\n}\n\n// Summary\ncsv += '\\n\\nSUMAR PER CATEGORIE\\n';\ncsv += 'Categorie,Numar Documente\\n';\nconst counts = {};\nfor (const item of items) {\n  const cat = item.json.category || 'ALTELE';\n  counts[cat] = (counts[cat] || 0) + 1;\n}\nfor (const [cat, count] of Object.entries(counts).sort()) {\n  csv += `${cat},${count}\\n`;\n}\ncsv += `TOTAL,${items.length}\\n`;\n\nreturn [{\n  json: {\n    total_documents: items.length,\n    categories_found: Object.keys(counts).length,\n    summary: counts\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csv).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: `Raport_Clasificare_${new Date().toISOString().split('T')[0]}.csv`\n    }\n  }\n}];"
      },
      "id": "generate-report",
      "name": "10. Genereaza Raport Excel/CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2140, 420],
      "notes": "Genereaza un raport CSV cu toate clasificarile"
    },
    {
      "parameters": {
        "fileName": "={{ $json.binary?.data?.fileName || 'Raport_Clasificare.csv' }}",
        "options": {}
      },
      "id": "save-report",
      "name": "11. Salveaza Raport",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [2380, 420],
      "notes": "Salveaza raportul CSV pe disc"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "1. Citeste Folder Input", "type": "main", "index": 0 }]
      ]
    },
    "1. Citeste Folder Input": {
      "main": [
        [{ "node": "2. Clasificare Filename (Regex)", "type": "main", "index": 0 }]
      ]
    },
    "2. Clasificare Filename (Regex)": {
      "main": [
        [{ "node": "3. Necesita AI?", "type": "main", "index": 0 }]
      ]
    },
    "3. Necesita AI?": {
      "main": [
        [{ "node": "4a. Pregatire Text pentru AI", "type": "main", "index": 0 }],
        [{ "node": "4b. Rezultat Filename", "type": "main", "index": 0 }]
      ]
    },
    "4a. Pregatire Text pentru AI": {
      "main": [
        [{ "node": "5a. AI Clasificare (OpenRouter)", "type": "main", "index": 0 }]
      ]
    },
    "5a. AI Clasificare (OpenRouter)": {
      "main": [
        [{ "node": "6a. Parseaza Raspuns AI", "type": "main", "index": 0 }]
      ]
    },
    "6a. Parseaza Raspuns AI": {
      "main": [
        [{ "node": "7. Merge Rezultate", "type": "main", "index": 0 }]
      ]
    },
    "4b. Rezultat Filename": {
      "main": [
        [{ "node": "7. Merge Rezultate", "type": "main", "index": 1 }]
      ]
    },
    "7. Merge Rezultate": {
      "main": [
        [
          { "node": "8. Mapeaza Foldere Destinatie", "type": "main", "index": 0 }
        ]
      ]
    },
    "8. Mapeaza Foldere Destinatie": {
      "main": [
        [
          { "node": "9. Muta Fisiere in Foldere", "type": "main", "index": 0 },
          { "node": "10. Genereaza Raport Excel/CSV", "type": "main", "index": 0 }
        ]
      ]
    },
    "10. Genereaza Raport Excel/CSV": {
      "main": [
        [{ "node": "11. Salveaza Raport", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "makyol" },
    { "name": "clasificare" },
    { "name": "pdf" }
  ]
}
